<!DOCTYPE html>
<html ng-app="angularApp">
<head lang="en">
	<meta charset="UTF-8">
	<title></title>
	<script src="libs/angular/angular.min.js"></script>
	<script src="libs/jquery/dist/jquery.min.js"></script>
	<script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="controller/inventoryController.js"></script>
	<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body ng-controller="InventoryController">


<ul class="nav nav-tabs">
	<li class="active">
		<a href="#" onclick="changeTab(this)" id="tab0">Insert a product</a>
	</li>
	<li>
		<a href="#" onclick="changeTab(this)" id="tab1">Show all products</a>
	</li>
	<li>
		<a href="#" onclick="changeTab(this)" id="tab2">Show all sales</a>
	</li>
</ul>


<form role="form" style="width: 500px; margin-left: 15px" id="insert">
	<div class="form-group">
		<label for="id">Product ID</label>
		<input ng-model="id" class="form-control" type="number" id="id" ng-blur="testID(this)"
			   placeholder="Insert the ID"/>
	</div>
	<div class="form-group">
		<label for="name">Product Name</label>
		<input ng-model="na" class="form-control" type="text" id="name"
			   placeholder="Product name"/>
	</div>
	<div class="form-group">
		<label for="purchasePrice">Product Purchase Price</label>
		<input ng-model="pp" class="form-control" type="text" id="purchasePrice"
			   placeholder="Purchase price"/>
	</div>
	<div class="form-group">
		<label for="salePrice">Product Sale Price</label>
		<input ng-model="sp" class="form-control" type="text" id="salePrice"
			   placeholder="Sale price"/>
	</div>
	<div class="form-group">
		<label for="quantity">Product Quantity</label>
		<input ng-model="qt" class="form-control" type="number" id="quantity"
			   placeholder="Number of products"/>
	</div>
	<div class="btn-toolbar">
		<button type="submit" class="btn btn-primary" ng-click="sendProduct()">Insert</button>
		<button type="submit" class="btn btn-info" ng-click="clearField()">Clear</button>
	</div>
</form>

<form style="width:400px;margin-left: 15px" id="getSales">
	<div>
		<label for="saleid">Sale ID</label>
		<input ng-model="saleid" class="form-control" type="number" id="saleid"/>
		<button type="submit" class="btn btn-primary" ng-click="getSales()">Get Sales</button>
		<div class="table-responsive">
			<table class="table">
				<caption id="namesale"></caption>
				<thead>
					<tr>
						<th>ID Product</th>
						<th>Name Product</th>
						<th>Quantity</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</form>

<form role="form" style="width: 500px; margin-left: 15px" id="getAll">
	<div class="btn-toolbar">
		<button type="submit" class="btn btn-primary" ng-click="sendProduct()">Insert</button>
		<button type="submit" class="btn btn-info" ng-click="clearField()">Clear</button>
	</div>
</form>
<script>
	var changeTab = function (source) {
		var as = document.querySelectorAll("a");
		for (var a in as) {
			if (as.hasOwnProperty(a)) {
				if (as[a].id !== source.id) as[a].parentElement.className = "";
				else as[a].parentElement.className = "active";
			}
		}
	};
</script>
</body>
</html>